:root {
    --my-article__padding: 4em;
    --my-article__margin: 3em 1em 0.5em;
}

my-article {
    display: block;
}

.article {
    background: var(--my-background-color__smoke);
    color: var(--my-font-color__dark);
    padding: var(--my-article__padding);
    min-width: 50%;
    margin: var(--my-article__margin);
}

.article__header {
    font-size: 1.8em;
}

.article__title {
    padding-top: 0;
    margin-top: 0;
}

.article--white {
    background: var(--my-background-color__light);
}

.article--blue {
    background: var(--my-background-color__secondary);
    color: var(--my-font-color__light);
}

.article--blue-light {
    background: var(--my-background-color__primary);
    color: var(--my-font-color__light);
}
